.light-theme{
    .item-ios.item-block .item-inner{
        color: color($colors,primary);
        background-color: color($colors, secondary);
    }

    .scroll-content{
        color: color($colors,primary) !important;
        background-color: color($colors,secondary) !important;
    }
}