.dark-theme {
   .item-ios.item-block .item-inner{
        color: color($colors,secondary);
        background-color: color($colors, primary_dark);
    }

    .scroll-content{
        color: color($colors,secondary) !important;
        background-color: color($colors,primary_dark) !important;
    }
}