// http://ionicframework.com/docs/theming/
.side-menu-item{
    font-size: $app_main_text;
    font-weight: bold;
}
.side-menu-toolbar{
    height:150px; 
    align-items: flex-end;
}

.alert-ios .alert-title{
    color:color($colors, primary);
}

// App Global Sass
// --------------------------------------------------
html{
    font-size: 60%;
}

body{
    color:color($colors,secondary);
}

.button{
    color: color($colors,secondary);
}

.bold-text{
    font-weight: bold
}
.main-text{
    font-size:$app_main_text;
}

.large-text{
    font-size: $app_large_text;
}
.align-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-center{
    display: flex;
    align-items: center;
}

// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
